//$Gray: #e8edf3; //rgb(232,237,243)
$Gray: #f9fafc;
$Yellow: #e6cf8b; //rgb(230,207,139)
$Red: #b56969; //rgb(181,105,105)
$Blue: #22264b; //rgb(34,38,75)

//$Sans-Serif: 'Open Sans', sans-serif;
$Sans-Serif: 'Yanone Kaffeesatz', sans-serif;
//$Serif: 'Yeseva One', cursive;
$Serif: 'Rouge Script', cursive;